/* layout */
// navbar
$navbar-height: 3.5rem;
$navbar-horizontal-padding: 2rem;

// sidebar
$sidebar-width: 13rem;

// content
// $content-width: 1024px;
// $home-page-width: 1920px;
// $content-width: 780px !default;
// $home-page-width: 1160px !default;
